In [1]:
# importing required librries

import pandas as pd

In [6]:
# reading the dataset

data = pd.read_csv("test_FewQE9B.csv")

In [7]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [8]:
# selecting a column by name

data['Outlet_Size']

0       Medium
1          NaN
2          NaN
3          NaN
4       Medium
         ...
5676     Small
5677    Medium
5678       NaN
5679       NaN
5680       NaN
Name: Outlet_Size, Length: 5681, dtype: object

In [9]:
# selecting more columns

data[['Item_Weight', 'Item_Visibility', 'Outlet_Identifier']]

      Item_Weight  Item_Visibility Outlet_Identifier
0          20.750         0.007565            OUT049
1           8.300         0.038428            OUT017
2          14.600         0.099575            OUT010
3           7.315         0.015388            OUT017
4             NaN         0.118599            OUT027
...           ...              ...               ...
5676       10.500         0.013496            OUT046
5677        7.600         0.142991            OUT018
5678       10.000         0.073529            OUT045
5679       15.300         0.000000            OUT017
5680        9.500         0.104720            OUT045

[5681 rows x 3 columns]

In [13]:
# selecting columns by their positions

data.iloc[:6]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
5,FDH56,9.800,Regular,0.063817,Fruits and Vegetables,117.1492,OUT046,1997,Small,Tier 1,Supermarket Type1

In [15]:
# selecting columns by their position
# now am selecting everything from the 1st and 2nd columns

data.iloc[:,:2]

     Item_Identifier  Item_Weight
0              FDW58       20.750
1              FDW14        8.300
2              NCN55       14.600
3              FDQ58        7.315
4              FDY38          NaN
...              ...          ...
5676           FDB58       10.500
5677           FDD47        7.600
5678           NCO17       10.000
5679           FDJ26       15.300
5680           FDU37        9.500

[5681 rows x 2 columns]

In [21]:
# return columns position based on a condition

data[data['Item_Weight'] <= 9]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
8,FDN33,6.305,Regular,0.123365,Snack Foods,95.7436,OUT045,2002,NaN,Tier 2,Supermarket Type1
9,FDA36,5.985,Low Fat,0.005698,Baking Goods,186.8924,OUT017,2007,NaN,Tier 2,Supermarket Type1
11,FDQ56,6.590,Low Fat,0.105811,Fruits and Vegetables,85.3908,OUT045,2002,NaN,Tier 2,Supermarket Type1
...,...,...,...,...,...,...,...,...,...,...,...
5654,FDQ57,7.275,Low Fat,0.000000,Snack Foods,144.5760,OUT013,1987,High,Tier 3,Supermarket Type1
5659,DRK37,5.000,Low Fat,0.044073,Soft Drinks,188.8530,OUT049,1999,Medium,Tier 1,Supermarket Type1
5672,NCH42,6.860,Low Fat,0.036594,Household,231.1010,OUT049,1999,Medium,Tier 1,Supermarket Type1
5673,FDF46,7.070,Low Fat,0.094053,Snack Foods,116.0834,OUT018,2009,Medium,Tier 3,Supermarket Type2
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2